.user {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.tweet .notice {
    min-height: 152px;
    width: 100%;
}

.tweet .list-inline li>span {
    display: block;
    text-align: center;
}

.tweet .list-inline li>span:first-child {
    color: #808080;
}

.tweet-text {
    font-size: 14px;
}

.panel-body {
    position: relative;
}

.new-tweet-box {
    text-align: center;
    background-color: #1ab7ea;
    color: white;
    position: absolute;
    top: 0;
    left: 30px;
    box-shadow: 4px 7px 10px -5px #808080;
    right: 30px;
    cursor: pointer;
}